openapi: 3.0.1
info:
  title: api-qa
  description: ecv-qa APIs
  version: '1.0'
servers:
  - url: http://apim-ecv.azure-api.net/qa
  - url: https://apim-ecv.azure-api.net/qa
paths:
  '/api/subjects/{subjectId}/createMultiDocumentMetadata':
    post:
      summary: '/api/subjects/{subjectId}/createMultiDocumentMetadata - POST'
      operationId: post-api-subjects-subjectid-createmultidocumentmetadata
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '408':
          description: 408 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/subjects/{subjectId}/createMultiDocumentMetadata - OPTIONS'
      operationId: options-api-subjects-subjectid-createmultidocumentmetadata
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/documents/{documentId}/delete':
    get:
      summary: '/api/documents/{documentId}/delete - GET'
      operationId: get-api-documents-documentid-delete
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 204 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/documents/{documentId}/delete - OPTIONS'
      operationId: options-api-documents-documentid-delete
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/form/fieldConfigurationTrails:
    post:
      summary: /api/form/fieldConfigurationTrails - POST
      operationId: post-api-form-fieldconfigurationtrails
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/form/fieldConfigurationTrails - OPTIONS
      operationId: options-api-form-fieldconfigurationtrails
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/permissions/groups/members:
    get:
      summary: /api/permissions/groups/members - GET
      operationId: get-api-permissions-groups-members
      parameters:
        - name: groupIds
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/permissions/groups/members - OPTIONS
      operationId: options-api-permissions-groups-members
      parameters:
        - name: groupIds
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/document/list:
    post:
      summary: /api/document/list - POST
      operationId: post-api-document-list
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/document/list - OPTIONS
      operationId: options-api-document-list
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/inviteProvider/list:
    post:
      summary: /api/inviteProvider/list - POST
      operationId: post-api-inviteprovider-list
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/inviteProvider/list - OPTIONS
      operationId: options-api-inviteprovider-list
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/form/dynamicAttribute/{id}':
    options:
      summary: '/api/form/dynamicAttribute/{id} - OPTIONS'
      operationId: options-api-form-dynamicattribute-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
    patch:
      summary: '/api/form/dynamicAttribute/{id} - PATCH'
      operationId: patch-api-form-dynamicattribute-id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
  /api/plans:
    get:
      summary: /api/plans - GET
      operationId: get-api-plans
      parameters:
        - name: fetchAllPlans
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/plans - OPTIONS
      operationId: options-api-plans
      parameters:
        - name: fetchAllPlans
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/requestNewInvite:
    post:
      summary: /api/requestNewInvite - POST
      operationId: post-api-requestnewinvite
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/requestNewInvite - OPTIONS
      operationId: options-api-requestnewinvite
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/service/type:
    get:
      summary: /api/service/type - GET
      operationId: get-api-service-type
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/service/type - OPTIONS
      operationId: options-api-service-type
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/getAutoshareChecklist/{subjectId}':
    get:
      summary: '/api/getAutoshareChecklist/{subjectId} - GET'
      operationId: get-api-getautosharechecklist-subjectid
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/getAutoshareChecklist/{subjectId} - OPTIONS'
      operationId: options-api-getautosharechecklist-subjectid
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/organizations/{organizationId}/services/{serviceId}/update':
    options:
      summary: '/api/organizations/{organizationId}/services/{serviceId}/update - OPTIONS'
      operationId: options-api-organizations-organizationid-services-serviceid-update
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
    patch:
      summary: '/api/organizations/{organizationId}/services/{serviceId}/update - PATCH'
      operationId: patch-api-organizations-organizationid-services-serviceid-update
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
  /api/organizations:
    post:
      summary: /api/organizations - POST
      operationId: post-api-organizations
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/organizations - OPTIONS
      operationId: options-api-organizations
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/users/{userId}/documents':
    get:
      summary: '/api/users/{userId}/documents - GET'
      operationId: get-api-users-userid-documents
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: subjectTypeId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/users/{userId}/documents - OPTIONS'
      operationId: options-api-users-userid-documents
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: subjectTypeId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/msusers/userInfo:
    post:
      summary: /api/msusers/userInfo - POST
      operationId: post-api-msusers-userinfo
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/msusers/userInfo - OPTIONS
      operationId: options-api-msusers-userinfo
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/migrateOrgPasswordPolicy:
    get:
      summary: /api/migrateOrgPasswordPolicy - GET
      operationId: get-api-migrateorgpasswordpolicy
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/migrateOrgPasswordPolicy - OPTIONS
      operationId: options-api-migrateorgpasswordpolicy
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/exception-message:
    post:
      summary: /api/exception-message - POST
      operationId: post-api-exception-message
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/exception-message - OPTIONS
      operationId: options-api-exception-message
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/service/option/{orgId}':
    get:
      summary: '/api/service/option/{orgId} - GET'
      operationId: get-api-service-option-orgid
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/service/option/{orgId} - OPTIONS'
      operationId: options-api-service-option-orgid
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/v2/forms/assigned:
    post:
      summary: /api/v2/forms/assigned - POST
      operationId: post-api-v2-forms-assigned
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/v2/forms/assigned - OPTIONS
      operationId: options-api-v2-forms-assigned
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/assignedservice/{id}/note/{noteId}/share':
    post:
      summary: '/api/assignedservice/{id}/note/{noteId}/share - POST'
      operationId: post-api-assignedservice-id-note-noteid-share
      parameters:
        - name: noteId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/assignedservice/{id}/note/{noteId}/share - OPTIONS'
      operationId: options-api-assignedservice-id-note-noteid-share
      parameters:
        - name: noteId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/auth/verifyUser:
    post:
      summary: /api/auth/verifyUser - POST
      operationId: post-api-auth-verifyuser
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '502':
          description: 502 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/auth/verifyUser - OPTIONS
      operationId: options-api-auth-verifyuser
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/documents/{documentId}/shareableLink':
    post:
      summary: '/api/documents/{documentId}/shareableLink - POST'
      operationId: post-api-documents-documentid-shareablelink
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/documents/{documentId}/shareableLink - OPTIONS'
      operationId: options-api-documents-documentid-shareablelink
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/subjects/{subjectId}/documents':
    post:
      summary: '/api/subjects/{subjectId}/documents - POST'
      operationId: post-api-subjects-subjectid-documents
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '408':
          description: 408 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/subjects/{subjectId}/documents - OPTIONS'
      operationId: options-api-subjects-subjectid-documents
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/documentFolders:
    get:
      summary: /api/documentFolders - GET
      operationId: get-api-documentfolders
      parameters:
        - name: folderType
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '510':
          description: 510 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    put:
      summary: /api/documentFolders - PUT
      operationId: put-api-documentfolders
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '510':
          description: 510 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    post:
      summary: /api/documentFolders - POST
      operationId: post-api-documentfolders
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '510':
          description: 510 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/documentFolders - OPTIONS
      operationId: options-api-documentfolders
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/validations/preSignup:
    post:
      summary: /api/validations/preSignup - POST
      operationId: post-api-validations-presignup
      responses:
        '204':
          description: 204 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/validations/preSignup - OPTIONS
      operationId: options-api-validations-presignup
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/users/filterUsers:
    get:
      summary: /api/users/filterUsers - GET
      operationId: get-api-users-filterusers
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/users/filterUsers - OPTIONS
      operationId: options-api-users-filterusers
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /workflow/list:
    get:
      summary: /workflow/list - GET
      operationId: get-workflow-list
      parameters:
        - name: userId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /workflow/list - OPTIONS
      operationId: options-workflow-list
      parameters:
        - name: userId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/subjects/{subjectId}/teamMembers':
    get:
      summary: '/api/subjects/{subjectId}/teamMembers - GET'
      operationId: get-api-subjects-subjectid-teammembers
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/subjects/{subjectId}/teamMembers - OPTIONS'
      operationId: options-api-subjects-subjectid-teammembers
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/verifyemail:
    put:
      summary: /api/verifyemail - PUT
      operationId: put-api-verifyemail
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    post:
      summary: /api/verifyemail - POST
      operationId: post-api-verifyemail
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/verifyemail - OPTIONS
      operationId: options-api-verifyemail
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/teams/school/{schoolId}/grades':
    get:
      summary: '/api/teams/school/{schoolId}/grades - GET'
      operationId: get-api-teams-school-schoolid-grades
      parameters:
        - name: schoolId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/teams/school/{schoolId}/grades - OPTIONS'
      operationId: options-api-teams-school-schoolid-grades
      parameters:
        - name: schoolId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/form/dynamicAttribute:
    get:
      summary: '/api/form/dynamicAttribute?key={key} - GET'
      operationId: get-api-form-dynamicattribute-key-key
      parameters:
        - name: key
          in: query
          required: true
          schema:
            type: string
        - name: deleted
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    post:
      summary: /api/form/dynamicAttribute - POST
      operationId: post-api-form-dynamicattribute
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    delete:
      summary: /api/form/dynamicAttribute - DELETE
      operationId: delete-api-form-dynamicattribute
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/form/dynamicAttribute - OPTIONS
      operationId: options-api-form-dynamicattribute
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/users/{userId}/notifications':
    get:
      summary: '/api/users/{userId}/notifications - GET'
      operationId: get-api-users-userid-notifications
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: subjectTypeId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    post:
      summary: '/api/users/{userId}/notifications - POST'
      operationId: post-api-users-userid-notifications
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: pageNo
          in: query
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/users/{userId}/notifications - OPTIONS'
      operationId: options-api-users-userid-notifications
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: subjectTypeId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/documents/signatureTemplate:
    get:
      summary: /api/documents/signatureTemplate - GET
      operationId: get-api-documents-signaturetemplate
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/documents/signatureTemplate - OPTIONS
      operationId: options-api-documents-signaturetemplate
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/provider/type:
    get:
      summary: /api/provider/type - GET
      operationId: get-api-provider-type
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/provider/type - OPTIONS
      operationId: options-api-provider-type
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/assignedservice/{id}/notes':
    put:
      summary: '/api/assignedservice/{id}/notes - PUT'
      operationId: put-api-assignedservice-id-notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    post:
      summary: '/api/assignedservice/{id}/notes - POST'
      operationId: post-api-assignedservice-id-notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/assignedservice/{id}/notes - OPTIONS'
      operationId: options-api-assignedservice-id-notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/invitations/coworker:
    post:
      summary: /api/invitations/coworker - POST
      operationId: post-api-invitations-coworker
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/invitations/coworker - OPTIONS
      operationId: options-api-invitations-coworker
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/forms/assigned/{assignmentId}/reminder':
    get:
      summary: '/api/forms/assigned/{assignmentId}/reminder - GET'
      operationId: get-api-forms-assigned-assignmentid-reminder
      parameters:
        - name: assignmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/forms/assigned/{assignmentId}/reminder - OPTIONS'
      operationId: options-api-forms-assigned-assignmentid-reminder
      parameters:
        - name: assignmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/teams/school/grades:
    post:
      summary: /api/teams/school/grades - POST
      operationId: post-api-teams-school-grades
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/teams/school/grades - OPTIONS
      operationId: options-api-teams-school-grades
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/users/{userId}/signature':
    post:
      summary: '/api/users/{userId}/signature - POST'
      operationId: post-api-users-userid-signature
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/users/{userId}/signature - OPTIONS'
      operationId: options-api-users-userid-signature
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/getPendingInvitations:
    get:
      summary: /api/getPendingInvitations - GET
      operationId: get-api-getpendinginvitations
      parameters:
        - name: subjectTypeId
          in: query
          schema:
            type: string
      responses:
        '201':
          description: 201 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/getPendingInvitations - OPTIONS
      operationId: options-api-getpendinginvitations
      parameters:
        - name: subjectTypeId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/subjects/{subjectId}/createDocumentMetadata':
    post:
      summary: '/api/subjects/{subjectId}/createDocumentMetadata - POST'
      operationId: post-api-subjects-subjectid-createdocumentmetadata
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '408':
          description: 408 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/subjects/{subjectId}/createDocumentMetadata - OPTIONS'
      operationId: options-api-subjects-subjectid-createdocumentmetadata
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/teamRoles/{teamRoleId}':
    options:
      summary: '/api/teamRoles/{teamRoleId} - OPTIONS'
      operationId: options-api-teamroles-teamroleid
      parameters:
        - name: teamRoleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
    patch:
      summary: '/api/teamRoles/{teamRoleId} - PATCH'
      operationId: patch-api-teamroles-teamroleid
      parameters:
        - name: teamRoleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
  '/api/subject/{subjectId}':
    delete:
      summary: '/api/subject/{subjectId} - DELETE'
      operationId: delete-api-subject-subjectid
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
        - name: Accept
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/subject/{subjectId} - OPTIONS'
      operationId: options-api-subject-subjectid
      parameters:
        - name: subjectId
          in: path
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
        - name: Accept
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/assignedservice/{id}/serviceNotes/{noteId}':
    get:
      summary: '/api/assignedservice/{id}/serviceNotes/{noteId} - GET'
      operationId: get-api-assignedservice-id-servicenotes-noteid
      parameters:
        - name: noteId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/assignedservice/{id}/serviceNotes/{noteId} - OPTIONS'
      operationId: options-api-assignedservice-id-servicenotes-noteid
      parameters:
        - name: noteId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/workflow/team/{workflowId}/status':
    get:
      summary: '/workflow/team/{workflowId}/status - GET'
      operationId: get-workflow-team-workflowid-status
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/workflow/team/{workflowId}/status - OPTIONS'
      operationId: options-workflow-team-workflowid-status
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/service/{serviceId}/assign':
    post:
      summary: '/api/service/{serviceId}/assign - POST'
      operationId: post-api-service-serviceid-assign
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: '/api/service/{serviceId}/assign - OPTIONS'
      operationId: options-api-service-serviceid-assign
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/documentslink:
    post:
      summary: /api/documentslink - POST
      operationId: post-api-documentslink
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/documentslink - OPTIONS
      operationId: options-api-documentslink
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/getUserSubscription:
    get:
      summary: /api/getUserSubscription - GET
      operationId: get-api-getusersubscription
      parameters:
        - name: actualPlanLimit
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Cache-Control:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Pragma:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/getUserSubscription - OPTIONS
      operationId: options-api-getusersubscription
      parameters:
        - name: actualPlanLimit
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  '/api/document/{id}/documentFolder/{parentId}':
    options:
      summary: '/api/document/{id}/documentFolder/{parentId} - OPTIONS'
      operationId: options-api-document-id-documentfolder-parentid
      parameters:
        - name: parentId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
    patch:
      summary: '/api/document/{id}/documentFolder/{parentId} - PATCH'
      operationId: patch-api-document-id-documentfolder-parentid
      parameters:
        - name: parentId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '510':
          description: 510 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
  /api/refreshCredentials:
    post:
      summary: /api/refreshCredentials - POST
      operationId: post-api-refreshcredentials
      responses:
        '201':
          description: 201 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    options:
      summary: /api/refreshCredentials - OPTIONS
      operationId: options-api-refreshcredentials
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
  /api/msusers/members:
    post:
      summary: /api/msusers/members - POST
      operationId: post-api-msusers-members
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
    delete:
      summary: /api/msusers/members - DELETE
      operationId: delete-api-msusers-members
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '401':
          description: 401 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            Access-Control-Allow-Origin:
              schema:
[...]
